[build]
  command = "CI= npm run build"
  publish = "build"

[[redirects]]
  from = "/api/*"
  to = "http://143.244.134.212/api/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
