.banner {
  margin-left: 220px;
  height: 250px;
  background: hsl(0, 3%, 23%);
  display: flex;
  justify-content: center; 
  align-items: center;     
  text-align: center;
  padding: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 1.5rem;
  margin: 0.01rem 0.01rem 2.1rem 2.8rem;
  margin-bottom: 0px;
  
}

.banner-text {
   font-size: 2.5rem;
  font-family: serif;
  color: #ffffff;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.3;
}
.banner-italic {
  font-style: italic;
  font-weight: 400;
}
.leaf {
  position: absolute;
  width: 60px;
  height: auto;
  opacity: 0.9;
}

.leaf-1 {
  top: -15px;
  left: 25%;
  transform: translateX(-50%) scale(1);
}

.leaf-2 {
  top: 40px;
  right: 17%;
}

.leaf-3 {
  top: 950px;
  left: 15%;
  transform: translateX(-50%) scale(2.5);
}

.leaf-4 {
  top: 300px;
  right: 60%;
  transform: translateX(-50%) scale(3.5);
}

.leaf-5 {
  top: 150px;
  left: 15%;
  transform: translateX(-50%) scale(2.25);
}

.flower-1 {
  top: 190px;
  right: 5%;
  transform: translateX(-50%) scale(3.25);
}
.sparkle-1 {
  top: 120px;
  left: 32%;
  transform: translateX(-50%) scale(1.25);
}
.sparkle-2 {
  top: 240px;
  right: 20%;
  transform: translateX(-50%) scale(0.8);
}