.dashboard-main-container {
  padding-left: 220px; 
  padding-right: 1rem;
  padding-top: 1rem;
}

@media (max-width: 768px) {
  .dashboard-main-container {
    padding-left: 1rem;
    padding-top: 4rem; /* Space for hamburger */
  }
}
