.ngo-team-dashboard-main-container {
  padding-left: 220px !important;
  padding-right: 1rem !important;
  padding-top: 1rem !important;
}

@media (max-width: 768px) {
  .ngo-team-dashboard-main-container {
    padding-left: 1rem !important;
    padding-top: 4rem !important; /* Space for hamburger */
  }
}
